@{
    ViewBag.Title = "SampleDotNet with PowerShell";
}

<div class="jumbotron">
    <h1>SampleDotNet with PowerShell</h1>
    <p class="lead">This IIS website was set up using PowerShell.</p>
    <p>Clones Git repository and checkouts remote Develop branch locally</p>
    <p>Modifed Hosts File</p>
    <p>Creates IIS Website with Custom App Pool Identity and Wildcard Certificate</p>
    <p>Builds Website</p>
    <p>Runs final version in Chrome</p>
    <p><a href="https://www.twitter.com/mrjamiebowman" target="_blank">@@mrjamiebowman</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>PowerShell</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>IIS Snap-In</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>